<%= form_for @fertilizante, :html => { :class => "form-horizontal fertilizante" } do |f| %>

  <% if @fertilizante.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@fertilizante.errors.count, "error") %> prohibited this fertilizante from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @fertilizante.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :nombre, :class => 'form-control' %>
    </div>
    <%=f.error_span(:nombre) %>
  </div>
  <div class="form-group">
    <%= f.label :descripcion, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :descripcion, :class => 'form-control' %>
    </div>
    <%=f.error_span(:descripcion) %>
  </div>
  <div class="form-group">
    <%= f.label :precio, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :precio, :class => 'form-control' %>
    </div>
    <%=f.error_span(:precio) %>
  </div>
  <div class="form-group">
    <%= f.label :cantidad, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :cantidad, :class => 'form-control' %>
    </div>
    <%=f.error_span(:cantidad) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                fertilizantes_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
